{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated and user == answer.owner %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center">
            <h3>{{ question.body }}</h3>
            <h3>Due Date: {{ question.due_date }}</h3>
            <p class="text-start"> .
            </p>

            <!-- add your form here. Your submit button should 
                                have the classes of btn, btn-secondary -->
            <form method="post">
                {% csrf_token %}
                {{ answer_form | crispy }}
                <button class="btn btn-secondary" type="submit">Save</button>
                <button class="btn btn-delete" lesson_slug = {{ lesson.slug }} answer_id = {{ answer.id}}>Delete</button>
            </form>


        </div>
    </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete answer?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your answer?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- <button class="btn btn-danger formaction="{% url 'lesson_delete' lesson.slug %}">Delete</button>      
                                        -->
                <a id="deleteConfirm" href="#" class="btn
                                        btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center">
            <h3>You need to be logged in and the owner to edit the answer.</h3>
            <p>Please log in or register to continue.</p>
        </div>
    </div>



{% endblock content %}

{% block extras %}
<script src="{% static 'js/answer.js' %}"></script>
{% endblock %}