{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated and user == lesson.owner %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center">
            <h2>Edit or Clear Grade and Feedback</h2>
            <p class="text-start"> 
            </p>

            <!-- add your form here. Your submit button should 
                                have the classes of btn, btn-secondary -->
            <form method="post">
                {% csrf_token %}
                {{ grade_feedback_form | crispy }}
                <button class="btn btn-secondary" type="submit">Save</button>
                <button class="btn btn-primary" type="button">Clear</button>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center">
            <h3>You need to be logged in and the owner to edit the grade and feedback.</h3>
            <p>Please log in or register to continue.</p>
        </div>
    </div>
</div>
{% endif %}
 


{% endblock content %}

{% block extras %}
<script src="{% static 'js/grade_feedback.js' %}"></script>
{% endblock %}