{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<div class="container">
    <div class="row">
        <!-- Placeholder card for creating a new lesson -->
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="image-container">
                        <div class="image-flash">
                            <p class="author">Tutor: none</p>
                        </div>
                    </div>
                    <a href="{% url 'lesson_create' %}" class="lesson-link faded">
                        <h2 class="card-title">Create Lesson</h2>
                        <p class="card-text">lesson excerpt</p>
                    </a>
                    <p class="card-text text-muted h6 faded">time stamp</p>
                </div>
            </div>
        </div>

        <!-- Iterate over the lesson_list to display existing lessons -->
        {% for lesson in lesson_list %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="image-container">
                        <div class="image-flash">
                            <p class="author">Tutor: {{ lesson.author }}</p>
                        </div>
                    </div>
                    <a href="{% url 'lesson_detail' lesson.slug %}" class="lesson-link {% if lesson.status == 0 %}faded{% endif %}">
                        <h2 class="card-title {% if lesson.status == 0 %}faded{% endif %}">{{ lesson.title }}</h2>
                        <p class="card-text {% if lesson.status == 0 %}faded{% endif %}">{{ lesson.excerpt }}</p>
                    </a>
                    <p class="card-text text-muted h6">{{ lesson.created_on }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> &laquo; PREV</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
        {% endif %}

    </ul>
</nav>
{% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}
{% block copyright %}
&copy; Copyright 2025 Jeff Chen.
{% endblock %}