{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="lesson-title">{{ lesson.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="lesson-subtitle">{{ lesson.author }} | {{ lesson.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/AmazingTutors.jpg' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The lesson content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <!-- render the lesson_section content in order -->
                {% for section in lesson_sections %}
                <!-- <p>debug {{ section }}</p> -->
                <p class="card-text">
                <h3 class="text-center mt-5">{{ section.title }}</h3>
                {{ section.content | safe }}
                </p>
                <hr />
                <!-- Displaying Note of the User -->
                {% for note in notes %}
                <!-- <h6><em>{{ user }}</em>'s notes:</h6> -->
                <button class="btn btn-edit btn-sm float-end" data-bs-toggle="modal"
                    data-bs-target="#editNoteModal{{ note.id }}">{{ user }}'s Note</button>
                <!-- Modal -->
                <div class="modal fade" id="editNoteModal{{ note.id }}" tabindex="-1"
                    aria-labelledby="editNoteModalLabel{{ note.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editNoteModalLabel{{ note.id }}">Edit Note</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ note_form | crispy }}
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% if note.title|lower == section.title|lower %}
                <div class="card-body">
                    {{ note.body | safe }}
                </div>
                <div class="card-footer text-muted">
                    {{ note.created_on }}
                </div>
                {% endif %}
                {% endfor %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock content %}