{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="lesson-title">{{ lesson.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="lesson-subtitle">{{ lesson.author }} | {{ lesson.created_on }}</p>
                <!-- Edit Lesson Button-->
                {% if user.is_authenticated and user == lesson.author %}
                <a href="{% url 'lesson_edit' lesson.slug %}" class="btn btn-edit">Edit Lesson</a>
                {% endif %}
                <!-- Raise Question Button -->
                {% if user.is_authenticated %}
                <a href="{% url 'question_create' lesson.slug %}" class="btn btn-edit">Raise Question</a>
                {% endif %}


            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/AmazingTutors.jpg' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <p class="card-text">
                    {{ lesson.content | safe }}
                </p>
                <hr />
                <!-- Displaying Note of the User -->
                {% if user_note %}
                {{ user_note | safe }}
                <button class="btn btn-edit btn-sm float-end" data-bs-toggle="modal"
                    data-bs-target="#editNoteModal{{ user_note.id }}">{{ user }}'s Note</button>

                <!-- Modal -->
                <div class="modal fade" id="editNoteModal{{ user_note.id }}" tabindex="-1"
                    aria-labelledby="editNoteModalLabel{{ user_note.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <!-- <h5 class="modal-title" id="editNoteModalLabel{{ user_note.id }}">Edit Note</h5> -->
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ note_form | crispy}}
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <button class="btn btn-edit btn-sm float-end" data-bs-toggle="modal"
                    data-bs-target="#addNoteModal{{ lesson.id }}">Add Note</button>
                <!-- Modal -->
                <div class="modal fade" id="addNoteModal{{ lesson.id }}" tabindex="-1"
                    aria-labelledby="addNoteModalLabel{{ lesson.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <!-- <h5 class="modal-title" id="addNoteModalLabel{{ lesson.id }}">Add Note</h5> -->
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ note_form|crispy }}
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <hr />

    <!--Display Questions -->
    <div class="row">
        <div class="col">
            <h2>Class Activities</h2>

            <!-- Questions with both "Test" and due_date -->
            {% for question in questions %}
            {% if question.questiontype == 1 and question.due_date %}
            <div class="card mb-3">
                <!-- <div class="card-body"> -->
                    <!-- <div class="card-title"> -->
                        <div class="testB">
                            <h6>Assignment: <br>{{ question.body }}</h6>
                            <span class="float-end"><em>raised by {{ question.owner }} - {{ question.updated_on }}</em></span>
                        </div>
                        {% for answer in question.ordered_answers %}
                        <div class = "{% if answer.owner == lesson.author %}answerA {% else %}answerB {% endif %}">
                            <h6>{% if answer.owner == lesson.author %}Tutor {{ lesson.author }}'s answer{% else %} Student {{ answer.owner }}'s answer{% endif %}</h6>
                            <p class="mb-3">{{ answer.body }}</p>
                            <div class="float-end">
                            <span><em>submitted by {{ answer.owner }} - {{ answer.updated_on }}</em></span>
                            <span class="badge bg-success">Answered</span>
                            </div>
                        </div>
                        {% endfor %}


                    <!-- </div> -->
                <!-- </div> -->
            </div>
            {% endif %}
            {% endfor %}

            <!-- Questions with only "Test" -->
            {% for question in questions %}
            {% if question.questiontype == 1 and not question.due_date %}
            <div class="card mb-3 testA">
                <div class="card-body">
                    <div class="card-title">
                        <div class="d-flex justify-content-between">
                            <span>[Quiz]{{ question.body }}</span>
                            <span>asked by {{ question.owner }} - {{ question.updated_on }}</span>
                        </div>
                        {% for answer in question.ordered_answers %}
                        <div>
                            <p class="mb-3">{{ answer.body }}</p>
                            <span>answered by {{ answer.owner }} - {{ answer.updated_on }}</span>
                            <span class="badge bg-success">Answered</span>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            <!-- Tutor's discussion questions -->
            {% for question in questions %}
            {% if question.questiontype == 0 and question.owner == lesson.author %}
            <div class="card mb-3 discussionA">
                <div class="card-body">
                    <div class="card-title">
                        <div class="d-flex justify-content-between">
                            <span>[Discussion]{{ question.body }}</span>
                            <span>asked by {{ question.owner }} - {{ question.updated_on }}</span>
                            {% for answer in question.ordered_answers %}
                            <div>
                                <span>{{ answer.body }}</span>
                                <span>answered by {{ answer.owner }} - {{ answer.updated_on }}</span>
                                <span class="badge bg-success">Answered</span>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            <!-- Learner's discussion questions -->
            {% for question in questions %}
            {% if question.questiontype == 0 and question.owner != lesson.author %}
            <div class="card mb-3 discussionB">
                <div class="card-body">
                    <div class="card-title">
                        <div class="d-flex justify-content-between">
                            <span>[Discussion]{{ question.body }}</span>
                            <span>asked by {{ question.owner }} - {{ question.updated_on }}</span>
                            {% for answer in question.ordered_answers %}
                            <div>
                                <span>{{ answer.body }}</span>
                                <span>answered by {{ answer.owner }} - {{ answer.updated_on }}</span>
                                <span class="badge bg-success">Answered</span>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>
</div>

{% endblock content %}