{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated and user == question.owner %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center">
            <h2>Edit or Delete Question</h2>
            <p class="text-start">**Tutor can raise both types of question for Discussion or Test.<br>
               **Test questions can either be short answer, essay or multiple choice question depend on wording.<br> 
               **A test question with due date can make an assignment task.<br> 
               **Students can raise discussion question only.<br>
               **Question format is free, can attach video or file url link via the editor. 
            </p>

            <!-- add your form here. Your submit button should 
                                have the classes of btn, btn-secondary -->
            <form method="post">
                {% csrf_token %}
                {{ question_form | crispy }}
                <button class="btn btn-secondary" type="submit">Save</button>
                <button class="btn btn-delete" lesson_slug ={{ lesson.slug}} question_id = {{ question.id }}>Delete</button>
            </form>


        </div>
    </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Question?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your question?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- <button class="btn btn-danger formaction="{% url 'lesson_delete' lesson.slug %}">Delete</button>      
                                        -->
                <a id="deleteConfirm" href="#" class="btn
                                        btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center">
            <h3>You need to be logged in and the owner to edit the question.</h3>
            <p>Please log in or register to continue.</p>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}

{% block extras %}
<script src="{% static 'js/question.js' %}"></script>
{% endblock %}